*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  width: 1140px;
  display: flex;
  align-items: end;
  gap: 30px;
  align-self: center;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  height: 298px;
  overflow: auto;
  position: relative;
}

.content__list-item {
  display: flex;
  gap: 30px;
  padding-left: 3px;
  padding-right: 3px;
}

.content__video-card {
  display: flex;
  justify-content: start;
  width: 390px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: contain;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.search-form__fieldset-title {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 400;
}

.title {
  font-weight: 700;
  font-size: 75px;
  line-height: 100%;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.content__accent {
  color: rgb(84 80 80 / 1);
}

.content__card-link {
  text-decoration: none;
  color: white;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 195px;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 89%;
  max-width: 196px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

form {
  display: flex;
}

fieldset {
  border: 0;
}

.search-form__textfield {
  width: 225px;
  padding: 0;
  border: 1px white solid;
  background: transparent;
  color: white;
  border-left: none;
  border-right: none;
  appearance: none;
  cursor: pointer;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

/* СТИЛИЗАЦИЯ ЧЕКБОКСА */

.search-form__label {
  background: transparent;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0 2px;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid white;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: white;
  margin: 1px;
  width: 15px;
  height: 15px;
}

.search-form__label-text {
  margin-left: 5px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  margin-top: 30px;
  border: 1px solid white;
  background: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: white;
  height: 34px;
  cursor: pointer
}

.search-form__submit-button {
  width: 194px;
  align-self: end;
}

.more-button {
  width: 100%;
}
.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgb(84 80 80 / 1);
}

.button:focus-visible {
  outline: 1px solid white;
}

.button:focus {
  outline: none;
}